@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  #invoice-preview, #invoice-preview * {
    visibility: visible;
  }
  #invoice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print\:hidden {
    display: none !important;
  }
}
